[submodule "Engine/thirdparty/spdlog"]
	path = Engine/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/thirdparty/glfw"]
	path = Engine/thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/thirdparty/DiligentCore"]
	path = Engine/thirdparty/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "Engine/thirdparty/DiligentTools"]
	path = Engine/thirdparty/DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools
[submodule "Engine/thirdparty/glm"]
	path = Engine/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/thirdparty/entt"]
	path = Engine/thirdparty/entt
	url = https://github.com/skypjack/entt
